# Prepare
repeat -1
deadline_ratio 1.1
reorder_tasks 0
include_mapping 0

# Target
multiobjective 0

# Randomize
seed 0

# Create
uniform_ratio 0.3
population_size 100

# Continue
max_generations 10000
stall_generations 100

# Select (roulette | tournament)
selection tournament
selection_ratio 0.5
tournament_size 2

# Crossover (npoint | uniform | peer)
crossover npoint
crossover_min_rate 0.8
crossover_scale 0
crossover_exponent 0
crossover_points 1

# Mutate (uniform | peer)
mutation peer
mutation_min_rate 0.005
mutation_scale 0.25
mutation_exponent -0.01

# Train (peer)
training peer
training_min_rate 0
training_scale 0
training_exponent 0
max_lessons 50
stall_lessons 20

# Evolve
elitism_rate 1

# Output
verbose 1
dump_evolution evolution.txt
