# System
# * mobility
# * power_criticality
# * temperature_criticality
initialization temperature_criticality
deadline_ratio 1
max_temperature 373.15
power_scale 1
time_scale 1
homogeneous 0
reorder_tasks 0
verbose 1

# Solution
# * condensed_equation (default)
# * fixed_condensed_equation
# * coarse_condensed_equation
# * steady_state
# * precise_steady_state
# * hotspot
# * transient_analytical
solution fixed_condensed_equation
max_iterations 1
tolerance 0
# hotspot sampling_intvl 1e-3
# assessment condensed_equation

# Leakage
# * <none> (default)
# * linear
# * piecewise_linear
# * exponential
leakage linear

# Optimization
seed -1
repeat -1
mapping 1
multiobjective 0
# cache localhost
# dump evolution.txt

# Creation
uniform_ratio 0.2
population_size 160

# Continuation
min_generations 0
max_generations 10000
stall_generations 200
time_limit 0

# [SINGLE-OBJECTIVE ONLY] Select
# * dominance_roulette
# * rank_roulette
# * tournament
# * uniform
selection tournament
selection_ratio 0.5
tournament_size 2
ranking_factor -0.1

# Crossover
# * npoint
# * uniform
# * peer
# * list_schedule
crossover npoint
crossover_min_rate 0.8
crossover_scale 0
crossover_exponent 0
crossover_points 1

# Mutate
# * uniform
# * peer
# * list_schedule
mutation uniform
mutation_min_rate 0.05
mutation_scale 0
mutation_exponent 0

# [SINGLE-OBJECTIVE ONLY] Evolve
# * elitism
# * similarity
replacement elitism
elitism_rate 1

# Train
# * peer
# * list_schedule
training list_schedule
training_min_rate 0
training_scale 0
training_exponent 0
max_lessons 10
stall_lessons 10
