*.swp
.DS_Store
*.*~

*.log
*.out
*.aux
doc/*.pdf
doc/*.bib
*.blg
*.run.xml
*.bbl

*.mex*
*.o

*.tgff
*.eps
*.vcg
*.flp
*.ptrace*
*.ttrace*

tags

build/*
build/*

vendor/tgff*/tgff
vendor/tgff

vendor/hotspot*/hotfloorplan
vendor/hotspot*/hotspot
vendor/hotspot*/libhotspot.a
vendor/hotspot

vendor/paradiseo-*/paradiseo-eo/*
vendor/paradiseo-*/paradiseo-mo/*
vendor/paradiseo-*/paradiseo-moeo/*
vendor/paradiseo-*/paradiseo-peo/*
vendor/paradiseo
