*.swp
.DS_Store

*.log
*.out
*.aux
*.pdf

*.mex*
*.o

*.tgff
*.eps
*.vcg
*.flp
*.ptrace*
*.ttrace*

build/*Make*
build/*make*
build/hotspot*
build/src
build/tgff
build/vendor

src/@HotSpot/hotspot

vendor/tgff*/tgff
vendor/tgff

vendor/hotspot*/hotfloorplan
vendor/hotspot*/hotspot
vendor/hotspot*/libhotspot.a
vendor/hotspot

vendor/paradiseo*/paradiseo-eo/build
vendor/paradiseo*/paradiseo-mo/build
vendor/paradiseo*/paradiseo-moeo/build
vendor/paradiseo

tags
*.mat
build/test_cases/*.txt
build/optima
