*.swp
.DS_Store
*.*~

*.log
*.out
*.aux
*.pdf

*.mex*
*.o

*.tgff
*.eps
*.vcg
*.flp
*.ptrace*
*.ttrace*
build/test_cases/*.config

build/*Make*
build/*make*
build/hotspot*
build/csrc
build/msrc
build/tgff
build/vendor
build/optima

msrc/@HotSpot/hotspot

vendor/tgff*/tgff
vendor/tgff

vendor/hotspot*/hotfloorplan
vendor/hotspot*/hotspot
vendor/hotspot*/libhotspot.a
vendor/hotspot

vendor/eo-*/release/*
vendor/eo

tags
build/*.txt
